<link rel="stylesheet" href="../../styles/nav.css">

<header class="nav-container">
    <!-- <ul class="nav-list">
        <li class="nav-item">Pay Expense</li>
        <li class="nav-item">Jobs</li>
        <li class="nav-item"></li>
        <li class="nav-item"></li>
    </ul> -->
    <div class="nav-item-container">
        <span class="nav-item">Expenses</span>
        <span class="nav-item">Jobs</span>
        <span class="nav-item">Options</span>
        <span class="nav-item">Logout</span>
    </div>
</header>