<link rel="stylesheet" href="../../styles/nav.css">

<header class="nav-container">
    <!-- <ul class="nav-list">
        <li class="nav-item">Pay Expense</li>
        <li class="nav-item">Jobs</li>
        <li class="nav-item"></li>
        <li class="nav-item"></li>
    </ul> -->
    <div class="item-and-dropdown-container">
        <div class="nav-item-container">
            <span class="nav-item" id="expenses">Expenses</span>
            <span class="nav-item" id="jobs">Jobs</span>
            <span class="nav-item" id="options">Options</span>
            <span class="nav-item" id="logout">Logout</span>
        </div>

        <div class="dropdown-container">
            <div class="dropdown-menu" id="dropdown-menu-1">1</div>
            <div class="dropdown-menu">2</div>
            <div class="dropdown-menu">3</div>
            <div class="dropdown-menu">4</div>
        </div>

    </div>
</header>


<script>
    let expenses = document.querySelector('#expenses');
    let dropDown = document.querySelector('#dropdown-menu-1');

    expenses.addEventListener('click', () => {
        document.querySelector('#dropdown-menu-1').style.visibility = 'visible';
        expenses.style.backgroundColor = 'rgb(229, 190, 190)'
    })

    dropDown.addEventListener('mouseleave', () => {
        document.querySelector('#dropdown-menu-1').style.visibility = 'hidden';
        expenses.style.backgroundColor = 'turquoise'
    })
</script>