<link rel="stylesheet" href="../../styles/nav.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">

<nav class="nav-container">

        <div class="nav-list-container">

            <div class="nav-list">
                <button class="nav-list-button">Home<i class="fa-solid fa-caret-down" id="arrow-down-1"></i></button>
                <ul class="nav-list-dropdown" id="home-dropdown">
                    <a href="/"><li>Home Page</li></a>
                </ul>
            </div>

            <div class="nav-list">
                <button class="nav-list-button">Expenses<i class="fa-solid fa-caret-down" id="arrow-down-2"></i></button>
                <ul class="nav-list-dropdown">
                    <a href=""><li>Gas</li></a>
                    <a href=""><li>Medical Bills</li></a>
                    <a href=""><li>Rent</li></a>
                    <a href=""><li>Electricity</li></a>
                </ul>
            </div>

            <div class="nav-list">
                <button class="nav-list-button">Jobs<i class="fa-solid fa-caret-down" id="arrow-down-3"></i></button>
                <ul class="nav-list-dropdown" id="job-dropdown">
                    <a href="/jobs"><li>Main Page</li></a>
                </ul>
            </div>

            <div class="nav-list">
                <button class="nav-list-button">Banking Options<i class="fa-solid fa-caret-down" id="arrow-down-4"></i></button>
                <ul class="nav-list-dropdown">
                    <a href="/deposit"><li>Deposit</li></a>
                    <a href="/withdrawal"><li>Withdrawal</li></a>
                    <a href="/transfer"><li>Transfer</li></a>
                </ul>
            </div>

            <div class="nav-list">
                <button class="nav-list-button">Logout<i class="fa-solid fa-caret-down" id="arrow-down-5"></i></button>
                <ul class="nav-list-dropdown" id="login-dropdown">
                    <a href="/login"><li>Login Page</li></a>
                </ul>
            </div>



        </div>




        
</nav>


