<link rel="stylesheet" href="../../styles/nav.css">

<header class="nav-container">
    <!-- <ul class="nav-list">
        <li class="nav-item">Pay Expense</li>
        <li class="nav-item">Jobs</li>
        <li class="nav-item"></li>
        <li class="nav-item"></li>
    </ul> -->
    <div class="nav-item-container" id="item-container">
        <span class="nav-item" id="expenses">Expenses</span>
        <span class="nav-item" id="jobs">Jobs</span>
        <span class="nav-item" id="options">Options</span>
        <span class="nav-item" id="logout">Logout</span>
    </div>
</header>

<script>
    let nav = document.getElementById('item-container')
    let expenses = document.getElementById('expenses')
    // let jobs = document.getElementById('jobs')
    // let options = document.getElementById('options')
    // let logout = document.getElementById('logout')

    // expenses.addEventListener('mouseover', () => {
    //     let newElement = document.createElement('div');
    //     newElement.classList.add('expense-dropdown');
    //     newElement.innerHTML = 'Texttext'

    //     console.log('drop down -->', newElement)

    //     nav.prepend(newElement)
    // })

    // expenses.addEventListener('mouseoff', () => {
    //     document.querySelector('nav-container').removeChild(newElement)
    // })


</script>