<link rel="stylesheet" href="../../styles/nav.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">

<nav class="nav-container">

        <div class="nav-list-container">

            <div class="nav-list">
                <button class="nav-list-button">Home<i class="fa-solid fa-caret-down" id="arrow-down-1"></i></button>
                <ul class="nav-list-dropdown" id="home-dropdown">
                    <a href="/" class="nav-list-link">Home Page</a>
                </ul>
            </div>

            <div class="nav-list">
                <button class="nav-list-button">Expenses<i class="fa-solid fa-caret-down" id="arrow-down-2"></i></button>
                <ul class="nav-list-dropdown">
                    <a href="" class="nav-list-link">Gas</a>
                    <a href="" class="nav-list-link">Medical Bills</a>
                    <a href="" class="nav-list-link">Rent</a>
                    <a href="" class="nav-list-link">Electricity</a>
                </ul>
            </div>

            <div class="nav-list">
                <button class="nav-list-button">Jobs<i class="fa-solid fa-caret-down" id="arrow-down-3"></i></button>
                <ul class="nav-list-dropdown" id="job-dropdown">
                    <a href="/jobs" class="nav-list-link">Main Page</a>
                </ul>
            </div>

            <div class="nav-list">
                <button class="nav-list-button">Banking Options<i class="fa-solid fa-caret-down" id="arrow-down-4"></i></button>
                <ul class="nav-list-dropdown">
                    <a href="/deposit" class="nav-list-link">Deposit</a>
                    <a href="/withdrawal" class="nav-list-link">Withdrawal</a>
                    <a href="/transfer" class="nav-list-link">Transfer</a>
                </ul>
            </div>

            <div class="nav-list">
                <button class="nav-list-button">Logout<i class="fa-solid fa-caret-down" id="arrow-down-5"></i></button>
                <ul class="nav-list-dropdown" id="login-dropdown">
                    <a href="/login" class="nav-list-link">Login Page</a>
                </ul>
            </div>



        </div>




        
</nav>


