<link rel="stylesheet" href="../../styles/nav.css">

<header class="nav-container">
    <!-- <ul class="nav-list">
        <li class="nav-item">Pay Expense</li>
        <li class="nav-item">Jobs</li>
        <li class="nav-item"></li>
        <li class="nav-item"></li>
    </ul> -->
    <div class="item-and-dropdown-container">
        <div class="nav-item-container">
            <span class="nav-item" id="expenses">Expenses</span>
            <span class="nav-item" id="jobs">Jobs</span>
            <span class="nav-item" id="options">Options</span>
            <span class="nav-item" id="logout">Logout</span>
        </div>

        <div class="dropdown-container">
            <div class="dropdown-menu"></div>
            <div class="dropdown-menu"></div>
            <div class="dropdown-menu"></div>
            <div class="dropdown-menu"></div>
        </div>

    </div>
</header>


<script>
    
</script>