<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../styles/bankingOptions.css">
</head>
<body>

    <%- include('partials/nav.ejs') %>

 
 </style>
    
    <div class="banking-option-container">
        <form action="/deposit" method="POST" class="banking-option-form">
            <p class="deposit-sentence"></p>
            <p class="money-on-hand-sentence" name="<%= getAccount.money_on_hand%>"></p>
            <div class="sub-banking-option-container">
                <div class="account-selection">
                    <label for="select-deposit">Select Account: </label>
                    <select name="account" class="select-deposit">
                        <option value="chequing">Chequing (<%= getAccount.chequing %>)</option>
                        <option value="savings">Savings (<%= getAccount.savings %>)</option>
                    </select>
                </div>
                <div class="amount-selection">
                    <label for="select-amount">Amount to Deposit: </label>
                    <input type="text" id="select-amount" name="amount" required>
                </div>
                <button type="submit" class="banking-option-button">Deposit</button>
            </div>
        </form>
    </div>

    <script>
        let depositSentence = document.querySelector('.deposit-sentence');
        let deposit = 'Deposit Money';

        let moneyOnHandSentence = document.querySelector('.money-on-hand-sentence');
        let moneyOnHand = `Money on Hand: $${parseInt(moneyOnHandSentence.getAttribute('name'))}`

        setTimeout(() => {
            
            for (let i=0; i < deposit.length; i++) {
                setTimeout(() => {
                    depositSentence.innerHTML += deposit[i]
                }, i * 75)
            }
        }, 1000)

        setTimeout(() => {
            for (let i=0; i < moneyOnHand.length; i++) {
                setTimeout(() => {
                    moneyOnHandSentence.innerHTML += moneyOnHand[i]
                }, i * 50)
            }
        }, 3000)


    </script>
        
</body>
</html>