<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../styles/bankingOptions.css">
</head>
<body>

    <%- include('partials/nav.ejs') %>

 
 </style>
    
<div class="banking-option-container">
    <form action="/deposit" method="POST" class="banking-option-form">
        <p class="deposit-sentence"></p>
        <div class="sub-banking-option-container">
            <div class="account-selection">
                <label for="select-deposit">Select Account: </label>
                <select name="account" id="select-deposit">
                    <option value="chequing">Chequing</option>
                    <option value="savings">Savings</option>
                </select>
            </div>
            <div class="amount-selection">
                <label for="select-amount">Amount to Deposit: </label>
                <input type="text" id="select-amount" name="amount" required>
            </div>
            <button type="submit" class="banking-option-button">Deposit</button>
        </div>
    </form>
</div>

        <script>
            let depositSentence = document.querySelector('.deposit-sentence');
            let deposit = 'Deposit Money'

            setTimeout(() => {
                for (let i=0; i < deposit.length; i++) {
                    setTimeout(() => {
                        depositSentence.innerHTML += deposit[i]
                    }, i * 150)
                }
            }, 1000)
        </script>
    
</body>
</html>