<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../styles/jobs.css">
</head>
<body>

    <%- include('partials/nav.ejs') %>

    <style>
        body {
    margin: 0;
    }

    </style>
    

    <div class="jobs-container">
        <% for (let job of getJobs) { %>
            <div class="job">
                <header class="job-header">
                    <span><%= job.job_name %>: </span>
                    <span><%= job.salary %>/hour</span>
                </header>
                <article class="job-body">
                    <p><%= job.job_description %></p>
                </article>

                <div class="job-footer">
                    <a href="/"><button class="job-button" type="submit">Apply</button></a>
                    <a href=""><button class="job-button" typ="submit">Work</button></a>
                </div>
    

            </div>
        <% } %>
    </div>

    <div>
        <li class="item"></li>
    </div>$*5

</body>
</html>