<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../styles/login.css">
</head>
<body>

    <div class="login-container">
        <h1 class="login-header">Login</h1>

        <form action="/login" class="login-form" method="POST">
            <label for="login-card-number">Card Number:</label>
            <input type="text" name="card-number" id="login-card-number" placeholder="enter card #" required>

            <label for="login-password">Password:</label>
            <input type="password" name="password" id="login-password" placeholder="enter password" required>

            <button type="submit">Login</button>
        </form>
    </div>
    
</body>
</html>