<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../styles/login.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
</head>
<body>

    <style>
        body {
            margin: 0;
        }
    </style>

    <div class="login-container">
        <h1 class="login-header">Online Money Banker <i class="fa-solid fa-mug-hot" id="header-mug"></i></h1>

        <form action="/login" class="login-form" method="POST">
            <div class="form-left-side">
                <div class="card-number-container">
                    <label for="login-card-number" id="card-label">Card Number:</label>
                    <input type="text" name="card" id="login-card-number" required>
                </div>

                <div class="login-password-container">
                    <label for="login-password" id="password-label">Password:</label>
                    <input type="password" name="password" id="login-password" required>
                </div>
                
                <button type="submit" class="login-button">Login</button>
            </div>

            <div class="form-right-side">
                <p class="login-description" id="d-1"></p>
                <p class="login-description" id="d-2"></p>
                <p class="login-description" id="d-3"></p>
                <p class="login-description" id="d-4"></p>
                <p class="login-description" id="d-5"></p>
            </div>
        </form>
    </div>
    

        <script>
            let login = document.querySelector('.login-header')
            let qsa = (el) => document.querySelectorAll(el);
            let allDescriptions = qsa('.login-description');
            let allDescriptionsArray = Array.from(allDescriptions)

            let loginTitle = 'Online Money Banker'
            let d1Sentence = 'Keep Cash on Hand';
            let d2Sentence = 'Deposit | Withdrawal | Transfer';
            let d3Sentence = 'Pay Expenses on Time';
            let d4Sentence = 'Work to Earn';
            let d5Sentence = 'Better State of Mind';

           
            
        

            function loopOverText(index, sentence) {
                for (let i=0; i < sentence.length; i++) {
                    setTimeout(() => {
                        allDescriptionsArray[index].innerHTML += sentence[i]
                    }, i * 50)
                }
            }

            
          
            const displayText = new Promise((res,rej) => {

                setTimeout(() => {
                    loopOverText(0, d1Sentence)
                    setTimeout(() => {
                        loopOverText(1, d2Sentence)
                        setTimeout(() => {
                            loopOverText(2, d3Sentence)
                            setTimeout(() => {
                                loopOverText(3, d4Sentence)
                                setTimeout(() => {
                                    loopOverText(4, d5Sentence)
                                }, 1000)
                            }, 1200)
                        }, 1700)
                    }, 1200)
                }, 800)

            })
        
            
            
        

        </script>
</body>
</html>