<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../styles/bankingOptions.css">
</head>
<body>

    <%- include('partials/nav.ejs') %>

 
    <form action="/withdrawal" method="POST">
        <label for="select-deposit">Select Account</label>
        <select name="account" id="select-deposit">
            <option value="chequing">Chequing</option>
            <option value="savings">Savings</option>
        </select>
        <label for="select-amount"></label>
        <input type="text" id="select-amount" name="amount" required>
        <button type="submit">Withdrawal</button>
    </form>
</body>
</html>