.jobs-container {
    border: 2px solid red;
    width: 100%;
    height: 800px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.job {
    border: 2px solid black;
    width: 29%;
    height: 350px;
    margin-top: 10px;
}

.job-header {
    border: 2px solid blue;
    height: 40px;
    font-size: 25px;
}

.job-body {
    border: 2px solid red;
    height: 220px;
    font-size: 19px;
}

.job-footer {
    border: 2px solid green;
    height: 80px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.apply-button,
.work-button,
.quit-button {
    margin: 7px;
    width: 70px;
    height: 40px;
    /* border: 2px solid rgb(72, 72, 199); */
    border-radius: 5px;
}

/* .apply-button,
.work-button {
    background-color: green;
    border: 2px solid green;
}

.quit-button {
    background-color: red;
    border: 2px solid red;
} */