:root {
    --text-color: rgb(206, 77, 77);
    --input-field: rgb(238, 180, 180);
}



.login-container {
    /* border: 2px solid black; */
    height: 800px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
}

.login-header { 
    color: var(--text-color);
    display: flex;
    flex-direction: column;
}

.login-header::after {
    content: '';
    width: 100%;
    height: 3px;
    color: var(--text-color);
    background-color:rgb(206, 77, 77);
}

.login-form {
    border: 3px solid var(--text-color);
    height: 600px;
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    /* margin: 10px; */
    padding-left: 25px;
    border-radius: 15px;
}

#card-label,
#password-label {
    color: var(--text-color);
    font-size: 25px;
    font-weight: bolder;

}

#login-card-number,
#login-password {
    width: 500px;
    height: 40px;
    font-size: 20px;
    border: 2px solid grey;
}

#login-card-number:focus,
#login-password:focus {
    background-color: var(--input-field);
}   


.login-button {
    width: 180px;
    height: 70px;
    border-radius: 15px;
    border: 2px solid white;
    align-self: center;
    font-size: 26px;
    color: white;
    background-color: var(--text-color);
}
