:root {
    --text-color: rgb(206, 77, 77);
    --input-field: rgb(255, 255, 255);
    --hover: rgb(180, 44, 44);
    --form: rgb(252, 196, 196);
}



.login-container {
    /* border: 2px solid black; */
    height: 800px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    font-family: Heebo, Lora;
    /* background-color: rgb(252, 196, 196); */
}

.login-header { 
    color: white;
    /* border: 2px solid black; */
    width: 600px;
    height: 205px;
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50% 20% / 10% 40%;
    background-color: var(--text-color);
}

#header-mug {
    margin-left: 15px;
}

/* .login-header::after {
    content: '';
    height: 3px;
    color: var(--text-color);
    background-color:rgb(206, 77, 77);
    margin-top: 10px;
    width: 100%;
} */

.login-form {
    border: 3px solid white;
    height: 600px;
    width: 1000px;
    margin: 10px;
    border-radius: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    background-color: var(--text-color);
}

.form-left-side {
    /* border: 2px solid black; */
    width: 650px;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: var(--text-color);
    border-radius: 15px 0px 0px 15px;
    padding-left: 30px;

}

.card-number-container,
.login-password-container {
    /* border: 2px solid blue; */
    width: 80%;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    margin-left: 2%;
}

.form-right-side {
    width: 375px;
    height: 600px; 
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: var(--form);
    border-radius: 0px 10px 10px 0px;
    font-family: Ibarra Real Nova;
    font-weight: 400;
    font-style: italic;
    padding: 0px 50px;
    transform: scaleY(0);
    opacity: 0;
    transition: transform 0.5s ease-out, opacity 1s ease;
}

.login-description {
    /* border: 2px solid black; */
    width: 400px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 29px;
    color: black;
}

#card-label,
#password-label {
    font-size: 23px;
    font-weight: light;
    /* color: rgb(207, 52, 52); */
    color: white;
}

#login-card-number,
#login-password {
    width: 90%;
    height: 30px;
    font-size: 20px;
    border: 2px solid grey;
}

#login-card-number:focus,
#login-password:focus {
    background-color: var(--input-field);
}   


.login-button {
    width: 150px;
    height: 50px;
    border-radius: 30px;
    border: 2px solid var(--text-color);
    align-self: center;
    font-size: 23px;
    color: white;
    background-color: var(--text-color);
    margin-right: 100px;
    border: 2px solid white;
    transition: background-color 0.2s ease, color 0.2s ease, border-color 0.2s ease;
}

.login-button:hover {
    background-color: rgb(180, 44, 44);;
}
