.nav-container {
    width: 100%;
    height: 70px;
    background-color: turquoise;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.item-and-dropdown-container {
    border: 2px solid red;
    width: 60%;
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform: translateY(65px);

}

.nav-item-container {
    /* border: 2px solid black; */
    width: 95%;
    height: 70px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    cursor: pointer;
}

.nav-item {
    border: 2px solid black;
    font-size: 20px;
    margin-top: 2%;
    width: 18%;
    /* height: 10px; */
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding-bottom: 15px; */
    /* background-color: white; */
}

#arrow-down {
    margin-left: 5px;
}

.dropdown-container {
    border: 2px solid blue;
    width: 95%;
    height: 150px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}


.dropdown-menu {
    width: 18%;
    height: 180px;
    /* border: 2px solid black; */
    background-color: rgb(229, 190, 190);
    visibility: hidden;
    border-top: none;
}
